body{
    font-family: 'Roboto', sans-serif;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
html, body, main, section{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0 0 10px;
}

body, html, main{
	min-height:85vh;
	display:flex;
	flex-direction:column;
	margin:0;
}

.header{
    height: 200px;
    display: flex;
}

.header-inner{
    margin:auto;
}

/*Стрелка назад*/
.arrow-left-3,
.arrow-right-3,
.arrow-top-3,
.arrow-bottom-3 {
    margin: 20px 8px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.arrow-left-3 path,
.arrow-right-3 path,
.arrow-top-3 path,
.arrow-bottom-3 path {
    fill: #337AB7;
    transition: fill 0.5s ease-out;
}
.arrow-left-3 {
    transform: rotate(180deg);
}
.arrow-top-3 {
    transform: rotate(270deg);
}
.arrow-bottom-3 {
    transform: rotate(90deg);
}
.arrow-left-3:hover path,
.arrow-right-3:hover path,
.arrow-top-3:hover path,
.arrow-bottom-3:hover path {
    fill: #000;
}